@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Poppins:wght@300&display=swap');


:root {
    --warna-1-color: #FF6363;
    --warna-2-color: #FAF5E4;
}

.text-title-content {
    background-color: rgb(43, 43, 43);
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.text-title-content h3 {
    margin: 0;
    color: var(--warna-2-color);
    margin-bottom: 5px;
}
.text-title-content hr {
    margin: 0;
    transition: width 0.5s ease 0s;
    width: 0;
}
.text-title-content:hover > hr {
    width: 30%;
}
.content-latest-post {
    display: flex;
    width: 100%;
    height: 100px;
    border: 1px solid;
    object-fit: cover;
}
#img-latest-post {
    width: 150px;
    height: 100%;
}
@media (max-width: 834px) {
    .content-latest-post {
        object-fit: cover;
        height: 80px;
    }
    #img-latest-post {
        width: 100px;
        height: 100%;
    }
}
.text-latest-post, .text-content-kategori {
    overflow: hidden;
    padding: 10px;
}
.text-latest-post a h4 {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.2em;
    transition: 0.3s;
    font-weight: bold;
    color: #FF6363;
}
.text-latest-post a h4:hover {
    color: rgb(248, 223, 83);
}
.text-latest-post p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}
.card-content {
    border: 2px solid rgb(233, 233, 233);
    width: 100%;
    height: auto;
    padding: 10px;
}
.img-card-content {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
    margin-bottom: 12px;
}
.img-card-content img {
    width: 100%;
    height: 100%;
}
.kategori-card-content {
    position: absolute;
    bottom: 17px;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
}
.kategori-card-content span {
    background-color: rgb(248, 223, 83);
    color: rgb(48, 48, 48);
    padding: 5px 7px;
    width: max-content;
    margin: 5px 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.288);
}
.text-card-content h3 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #FF6363;
    font-size: 1.5em;
    transition: 0.3s;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.096);
}
.text-card-content a h3:hover {
    color: rgb(248, 223, 83);
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.068);
}
.text-card-content .date {
    margin-bottom: 10px;
}
.text-card-content .date span {
    font-weight: bold;
}
.text-card-content p {
    margin: 0;
    margin-bottom: 10px;
}
#gambar-iklan {
    width: 100%;
    height: 100%;
}
.kategori-sidebar h5 {
    color: #FF6363;
    border-bottom: 1px solid;
    padding: 7px 0px;
    font-weight: bold;
    font-size: 1em;
}
.content-kategori {
    display: flex;
    width: 100%;
    height: 170px;
    object-fit: cover;
    transition: 0.3s;
    border-radius: 7px;
}
.content-kategori:hover {
    box-shadow: 0px 0px 5px 2px #FF6363;
    margin: 15px 0px;
}
#img-content-kategori {
    border-radius: 5px;
    width: 40%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.233);
    transition: 0.3s;
}
.text-content-kategori {
    padding: 0px 10px;
    padding-top: 10px;
}
.text-content-kategori h3 {
    color: #FF6363;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.3s;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.096);
}
.text-content-kategori a h3:hover {
    color: rgb(248, 223, 83);
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.068);
}
@media (max-width: 548px) {
    .text-title-content h3 {
        font-size: 1.5em;
    }
    .text-card-content {
        font-size: 0.9em;
    }
    #img-content-kategori {
        width: 50%;
        height: 100px;
    }
    .content-kategori {
        height: auto;
    }
    .content-kategori:hover {
        transform: scale(1);
        margin: 0;
    }
    .text-content-kategori {
        overflow: hidden;
    }
    .text-content-kategori h3 {
        font-size: 1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .text-content-kategori p {
        font-size: 1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .text-latest-post a h4 {
        font-size: 1em;
    }
    .text-latest-post p {
        font-size: 0.9em;
    }
}
.recomended-news h5 {
    font-weight: bold;
    color: #FF6363;
    font-size: 1em;
    transition: 0.3s;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.096);
}
.recomended-news a h5:hover {
    color: rgb(248, 223, 83);
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.068);
}
.recomended-news span {
    font-size: 0.9em;
}
.icon-social-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(43, 43, 43);
}
.icon-social-sidebar svg {
    margin: 0px 20px;
    transition: 0.3s;
}
.icon-social-sidebar svg:hover {
    fill: #FF6363;
}
.new-news-slider {
    display: flex;
    height: 40px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.text-slider-new {
    color: #ffffff;
    margin: 0px auto;
    font-size: 1.4em;
    position: absolute;
    left: 0;
}
.content-new-news-slider {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 5px;
    overflow: hidden;
    height: 100%;
    color: #FAF5E4;
    font-size: 1.3em;
}
.content-new-news-slider span{
    animation: fadeTop 4s ease forwards;
}
.content-new-news-slider a span {
    color: #FF6363;
}
.input-subscribe {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}
.form-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-subscribe input {
    margin-right: 15px;
    width: 300px;
    padding: 5px 10px;
}
.form-subscribe button {
    padding: 7px;
    border: none;
    background-color: #FF6363;
    color: #FAF5E4;
}
@media (max-width: 548px) {
    .form-subscribe {
        flex-direction: column;
        width: 100%;
    }
    .form-subscribe input[type="email"] {
        margin: 10px 0px;
        width: 100%;
    }
    .text-slider-new {
        display: none;
    }
    .content-new-news-slider {
        border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
@keyframes fadeTop {
    0% {
        margin-top: 50px;
    }
    25% {
        margin-top: 0px;
    }
    50% {
        margin-top: 0px;
    }
    100% {
        margin-top: -100px;
    }
}
